.footer {
	padding: 8rem;
	background: #333333;

	&__logo {
		width: 12rem;
	}

	&__navigation {
		text-align: center;
		&-element {
			transition: all .2s;
			display: inline-block;
			margin-right: 5rem;
			@include respond(tab-land) {
				margin-right: 0;
				padding: 2rem;
    		padding-top: 0;
			}
			
			&:hover {
				transform: rotate(5deg) scale(1.15);
			}
		}

		&-element > a {
			&:link,
			&:visited {
				text-decoration: none;
				font-weight: 300;
				line-height: 1.9rem;
				letter-spacing: .2rem;
				color: $color-grey;
				text-transform: uppercase;
				&:hover {
					color: $color-brown-light;
				}
			}
			transition: all .2s;
		}
		
	}
}
