.mb-10 {
	margin-bottom: 1rem !important;
}

.mb-24 {
	margin-bottom: 2.4rem !important;
}

.mb-30 {
	margin-bottom: 3rem !important;
}

.mb-50 {
	margin-bottom: 5rem !important;
}

.mb-54 {
	margin-bottom: 5.4rem !important;
}

.mb-80 {
	margin-bottom: 8rem !important;
}

.tac {
	text-align: center !important;
}

.dblock {
	display: block !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}